<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <head>
        <h1>Login</h1>
    </head>

    <form action="/api/login" method="POST"></form>
    <label for="email">EMAIL</label>
    <input type="text" name="email" id="email" required>

    <button type="submit">Register</button>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Login</button>
    
</body>
</html>